
RewriteEngine on

RewriteCond %{HTTP_HOST} ^blog\.carbonicsinc\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.blog\.carbonicsinc\.com$
RewriteRule ^/?$ "http\:\/\/carbonicsblog\.weebly\.com\/" [R=301,L]

